:root {
  font: 16px/150% 'Hiragino Kaku Gothic ProN', 'Segoe UI', sans-serif;
  color: #3d3324;
  background: #f0ead6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
